<div class="row">
    <div ng-controller="UserDetailCtrl as udc">
        <h1 ng-hide="!udc.doUpdate">User Detail</h1>
        <h1 ng-hide="udc.doUpdate">Create User</h1>

        <form id="UpdateUserForm" name="UpdateUserForm" class="form-horizontal" role="form"
              ng-submit="udc.doUpdate ? udc.updateUser() : udc.createUser()">

            <legend class="sm-col-12">Basic Information</legend>

            <div class="form-group">
                <label id="lbl_firstName" for="firstName" class="col-sm-4 control-label">First Name</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder=""
                           ng-model="udc.user.firstName">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_lastName" for="lastName" class="col-sm-4 control-label">Last Name</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder=""
                           ng-model="udc.user.lastName">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_age" for="age" class="col-sm-4 control-label"
                       is-required="CreateUserForm.age">Age</label>

                <div class="col-sm-8">
                    <input type="number" class="form-control" name="age" id="age"
                           ng-model="udc.user.age">
                </div>
            </div>


            <div class="form-group" ng-hide="!udc.doUpdate">
                <label id="lbl_active" for="active" class="col-sm-4 control-label">Active</label>

                <div class="col-sm-8">
                    <input type="checkbox" name="active" id="active" ng-model="udc.user.active">
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <a ng-click="udc.deleteUser(udc.user.uuid)" confirm-click ng-href="/#/" id="btn_delete" class="btn btn-danger">
                        <i class="fa fa-times fa-fw"></i> Delete</a>
                </div>
                <div class="col-sm-8 text-right">
                    <a ng-href="/#/" id="btn_back" class="btn btn-warning"><i class="fa fa-reply fa-fw"></i> Back</a>

                    <button type="submit" class="btn btn-success" id="btn_create"><i class="fa fa-hdd-o fa-fw"></i> Save</button>
                </div>
            </div>

            <hr>

            <pre>{{ udc.user | json }}</pre>

        </form>

    </div>
</div>

